.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.nav-top {
  background-color: #a5c926;
  height: 32px;
  width: 100%;
}

.nav-top-wrapper {
  margin: auto;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  max-width: 1200px;
  display: flex;

}

.nav-top-info {
  display: flex;
  align-items: center;
}

.nav-top-text {
  margin-right: 16px;
}

.link-white {
  color: #fff;

}