// * {

//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// // 共用wapper
// .wapper {
//   max-width: 1200px;
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// // 共用h1
// h1 {
//   margin-top: 0px;
//   margin-bottom: 20px;
//   font-family: 'Varela Round', sans-serif;
//   font-size: 40px;
//   line-height: 48px;
//   font-weight: 500;
// }

// 共用h3
// h3 {
//   margin-top: 0px;
//   margin-bottom: 16px;
//   font-family: 'Varela Round', sans-serif;
//   font-size: 28px;
//   line-height: 36px;
//   font-weight: 500;
// }

// h6 {
//   margin-top: 0px;
//   font-family: 'Varela Round', sans-serif;
//   font-size: 15px;
//   line-height: 20px;
//   font-weight: 400;
// }

// 共用section
// .section {
//   display: flex;
//   justify-content: center;
//   padding: 120px 24px 0px;
// }

// 背景灰色
// .haze {
//   background-color: #f8f8f8;
// }


// nav导航父级
.home-banner {
  position: relative;
  top: 104px;
  background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baddd4835e113c6299a48f5_li-tzuni-507346-unsplash.jpg);
  background-position: 50% 94%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// nav
.scroll-mouse-link {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  display: flex;
  width: 64px;
  height: 64px;
  margin: 0 auto -32px auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

  .mouse-icon {
    width: 20px;
    height: 30px;
    border: 2px solid #bbb;
    border-radius: 12px;
    display: flex;
    justify-content: center;

    .mouse-wheel-icon {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #bbb;
      margin-top: 6px;
    }
  }
}

/* 淡入动画 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 570px;
  width: 100%;
  background-color: #fff;
  padding: 56px 48px;
  border-radius: 16px;
  color: #111;
  text-align: center;
  box-sizing: border-box;
  animation: fadeIn 1s ease forwards;

  // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  // opacity: 1;
  // transform-style: preserve-3d;
  .title {
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
  }

  .w-button {
    height: 48px;
    padding: 12px 28px;
    border-radius: 24px;
    background-color: #a5c926;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    display: inline-block;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;

    &:hover {
      box-shadow: 0 8px 8px -4px rgba(165, 201, 38, 0.5);
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

.home-categories {
  display: flex;
  margin-top: 150px;
  width: 100%;

  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .home-category-card {
    border-radius: 16px;
    background-color: #ffc12c;
    color: #fff;
    margin-right: 15px;
    margin-left: 15px;
    padding: 48px 40px;
    position: relative;
    display: flex;
    flex: 1;
    animation: fadeIn 1s ease forwards;

    .home-category-image-1 {
      position: absolute;
      left: 15px;
      bottom: 26px;
      width: 220px;
    }

    .home-category-image-2 {
      position: absolute;
      right: 21px;
      bottom: 17px;
      width: 220px;
    }

    .home-category-info-1 {
      margin-left: 224px;
    }

    .home-category-info-2 {
      margin-right: 224px;
      text-align: right;
    }

    .w-button {
      background-color: #fff;
      color: #111;
      height: 40px;
      padding: 8px 24px;
      border-radius: 20px;
      font-size: 13px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      transition: transform 300ms ease, box-shadow 300ms ease;

      &:hover {
        box-shadow: 0 8px 8px -4px rgba(17, 17, 17, 0.2);
        transform: scale(1.25);
      }
    }
  }

  .red-card {
    background-color: #fb416b;
  }
}

.video-section {
  padding-bottom: 112px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://assets.website-files.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;

  .intro {
    max-width: 800px;
    margin: 0px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .title {
      margin-bottom: 16px;
      color: #fff;
      font-size: 13px;
      line-height: 16px;
      font-weight: 600;
    }

    .heading {
      font-size: 36px;
      line-height: 44px;
    }

    .play-button {
      max-width: 100%;
      transition: transform 300ms ease, -webkit-transform 300ms ease;
      display: flex;
      width: 64px;
      height: 64px;
      padding: 20px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #a5c926;
    }
  }
}

.intro {
  display: flex;
  max-width: 600px;
  margin-bottom: 80px;
  padding-right: 15px;
  padding-left: 15px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
}

.side-blocks {
  display: flex;

  width: 100%;
  justify-content: flex-start;
  align-items: stretch;

  .side-block {
    position: relative;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 8.33%;

    .side-info {
      display: flex;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      flex-direction: column;
      align-items: flex-start;

      h2 {
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: 'Varela Round', sans-serif;
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
      }

      .divider {
        width: 70px;
        height: 2px;
        margin-top: 8px;
        margin-bottom: 23px;
        background-color: #a5c926;
      }

      .text-grey {
        color: #999;
      }

      p {
        margin-bottom: 28px;
        font-size: 14px;
        line-height: 24px;
      }

      .w-button {
        height: 48px;
        padding: 12px 28px;
        justify-content: center;
        border-radius: 24px;
        background-color: #a5c926;
        transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;

        &:hover {
          box-shadow: 0 8px 8px -4px rgba(17, 17, 17, 0.2);
          transform: scale(1.05);
          text-decoration: none;
        }
      }
    }

    .side-image {
      width: 100%;
      border-radius: 16px;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
    }
  }

  .small-padding-side {
    padding-right: 15px;
    padding-left: 15px;
  }

  .side-block.no-padding-left {
    padding-left: 0%;
  }
}

.column-flex {
  flex-direction: column;
  align-items: center;
}

.subscribe {
  display: flex;
  width: 100%;
  padding: 48px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

  .subscribe-info {
    display: flex;
    padding-right: 15px;
    align-items: center;
    flex: 1;

    .subscribe-icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 64px;
      height: 64px;
      margin-right: 24px;
      padding: 18px 16px 16px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50%;
      background-color: #a5c926;
    }

    h4 {
      margin-top: 0px;
      margin-bottom: 16px;
      font-family: 'Varela Round', sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
    }

    .text-green {
      color: #a5c926;
    }
  }

  .subscribe-form-wrapper {
    width: 50%;
    margin-bottom: 0px;
    padding-left: 15px;

    .subscribe-form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .subscribe-input {
      margin-right: 16px;
      height: 48px;
      padding-right: 28px;
      padding-left: 28px;
      border: 2px solid #e5e5e5;
      border-radius: 24px;
      background-color: #f8f8f8;
      -webkit-transition: border-color 300ms ease, background-color 300ms ease;
      transition: border-color 300ms ease, background-color 300ms ease;
      display: block;
      width: 100%;
      margin-bottom: 0px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333333;
      // vertical-align: middle;

      &:focus {
        border-color: #a5c926;
        background-color: #fff;
        outline: 0;
      }
    }

    .button {
      height: 48px;
      padding: 12px 28px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 24px;
      background-color: #a5c926;
      -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
      transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
      transition: transform 300ms ease, box-shadow 300ms ease;
      transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      border: 0;
      text-decoration: none;
      display: inline-block;
    }

    .w-form-button {
      display: none;
    }
  }
}

.instagram {
  display: flex;
  width: 100%;
  margin-bottom: 72px;
  padding-right: 7px;
  padding-left: 7px;

  a {
    max-width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-right: 8px;
    margin-left: 8px;
    flex: 1;
    border-radius: 16px;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;

    &:hover {
      z-index: 1;
      box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.16);
      -webkit-transform: scale(1.05) translate(0px, 0px);
      -ms-transform: scale(1.05) translate(0px, 0px);
      transform: scale(1.05) translate(0px, 0px);
    }
  }

  img {
    width: 100%;
  }


}

.w-button-ins {
  height: 48px;
  padding: 12px 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 24px;
  background-color: #a5c926;
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin-bottom: 100px;

  &:hover {
    box-shadow: 0 8px 8px -4px rgba(17, 17, 17, 0.2);
    transform: scale(1.05);
    text-decoration: none;
  }
}

.color {
  background-color: #a5c926;
}

.no-padding-top {
  padding-top: 20px;
}